.nc-loading {
    z-index: 999;
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2) !important;
    text-align: center;
}

.nc-loading-type {
    width: 50%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}


/* -----------------------------------------
  =Default css to make the demo more pretty
-------------------------------------------- */


/* -----------------------------------------
  =CSS3 Loading animations
-------------------------------------------- */


/* =Elements style
---------------------- */

.nc-loading-line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.nc-loading-ring-1 {
    width: 10px;
    height: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #4b9cdb;
    border-radius: 100%;
}

.nc-loading-ring-2 {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
    border: 4px solid #4b9cdb;
    border-radius: 100%;
}

.nc-loading-ball-holder {
    position: absolute;
    width: 12px;
    height: 45px;
    left: 17px;
    top: 0px;
}

.nc-loading-ball {
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #4282B3;
}

.nc-loading-letter-holder {
    padding: 16px;
}

.nc-loading-letter {
    float: left;
    font-size: 14px;
    color: #777;
}

.nc-loading-square {
    width: 12px;
    height: 12px;
    border-radius: 4px;
    background-color: #4b9cdb;
}

.nc-loading-spinner {
    position: relative;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

.nc-loading-bubble-1,
.nc-loading-bubble-2 {
    position: absolute;
    top: 0;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #4b9cdb;
}

.nc-loading-bubble-2 {
    top: auto;
    bottom: 0;
}

.nc-loading-bar {
    float: left;
    width: 15px;
    height: 6px;
    border-radius: 2px;
    background-color: #4b9cdb;
}


/* =Animate the stuff
------------------------ */

.nc-loading-type-1 .nc-loading-line:nth-last-child(1) {
    animation: nc-loading-loadingA 1.5s 1s infinite;
}

.nc-loading-type-1 .nc-loading-line:nth-last-child(2) {
    animation: nc-loading-loadingA 1.5s .5s infinite;
}

.nc-loading-type-1 .nc-loading-line:nth-last-child(3) {
    animation: nc-loading-loadingA 1.5s 0s infinite;
}

.nc-loading-type-2 .nc-loading-line:nth-last-child(1) {
    animation: nc-loading-loadingB 1.5s 1s infinite;
}

.nc-loading-type-2 .nc-loading-line:nth-last-child(2) {
    animation: nc-loading-loadingB 1.5s .5s infinite;
}

.nc-loading-type-2 .nc-loading-line:nth-last-child(3) {
    animation: nc-loading-loadingB 1.5s 0s infinite;
}

.nc-loading-type-3 .nc-loading-line:nth-last-child(1) {
    animation: nc-loading-loadingC .6s .1s linear infinite;
}

.nc-loading-type-3 .nc-loading-line:nth-last-child(2) {
    animation: nc-loading-loadingC .6s .2s linear infinite;
}

.nc-loading-type-3 .nc-loading-line:nth-last-child(3) {
    animation: nc-loading-loadingC .6s .3s linear infinite;
}

.nc-loading-type-4 .nc-loading-ring-1 {
    animation: nc-loading-loadingD 1.5s .3s cubic-bezier(.17, .37, .43, .67) infinite;
}

.nc-loading-type-5 .nc-loading-ball-holder {
    animation: nc-loading-loadingE 1.3s linear infinite;
}

.nc-loading-type-6 .nc-loading-letter {
    animation-name: nc-loading-loadingF;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-direction: linear;
}

.nc-loading-delay-1 {
    animation-delay: .48s;
}

.nc-loading-delay-2 {
    animation-delay: .6s;
}

.nc-loading-delay-3 {
    animation-delay: .72s;
}

.nc-loading-delay-4 {
    animation-delay: .84s;
}

.nc-loading-delay-5 {
    animation-delay: .96s;
}

.nc-loading-delay-6 {
    animation-delay: 1.08s;
}

.nc-loading-delay-7 {
    animation-delay: 1.2s;
}

.nc-loading-delay-8 {
    animation-delay: 1.32s;
}

.nc-loading-delay-9 {
    animation-delay: 1.44s;
}

.nc-loading-delay-10 {
    animation-delay: 1.56s;
}

.nc-loading-type-7 .nc-loading-square {
    animation: nc-loading-loadingG 1.5s cubic-bezier(.17, .37, .43, .67) infinite;
    margin-left: 25%;
}

.nc-loading-type-8 .nc-loading-line {
    animation: nc-loading-loadingH 1.5s cubic-bezier(.17, .37, .43, .67) infinite;
}

.nc-loading-type-9 .nc-loading-spinner {
    animation: nc-loading-loadingI 2s linear infinite;
}

.nc-loading-type-9 .nc-loading-bubble-1,
.nc-loading-type-9 .nc-loading-bubble-2 {
    animation: nc-loading-bounce 2s ease-in-out infinite;
}

.nc-loading-type-9 .nc-loading-bubble-2 {
    animation-delay: -1.0s;
}

.nc-loading-type-10 .nc-loading-bar {
    animation: nc-loading-loadingJ 2s cubic-bezier(.17, .37, .43, .67) infinite;
}

@keyframes nc-loading-loadingA {
    0 {
        height: 15px;
    }
    50% {
        height: 35px;
    }
    100% {
        height: 15px;
    }
}

@keyframes nc-loading-loadingB {
    0 {
        width: 15px;
    }
    50% {
        width: 35px;
    }
    100% {
        width: 15px;
    }
}

@keyframes nc-loading-loadingC {
    0 {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 15px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes nc-loading-loadingD {
    0 {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes nc-loading-loadingE {
    0 {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes nc-loading-loadingF {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes nc-loading-loadingG {
    0% {
        transform: translate(0, 0) rotate(0deg);
    }
    50% {
        transform: translate(70px, 0) rotate(360deg);
    }
    100% {
        transform: translate(0, 0) rotate(0deg);
    }
}

@keyframes nc-loading-loadingH {
    0% {
        width: 15px;
    }
    50% {
        width: 35px;
        padding: 4px;
    }
    100% {
        width: 15px;
    }
}

@keyframes nc-loading-loadingI {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes nc-loading-bounce {
    0%,
    100% {
        transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
    }
}

@keyframes nc-loading-loadingJ {
    0%,
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(80px, 0);
        background-color: #f5634a;
        width: 25px;
    }
}
